body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    color: #333;
}

a {
    display: inline-block;
    margin: 10px 0;
    color: blue;
    text-decoration: none;
}

form, table {
    margin-top: 20px;
}
.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.08;
    z-index: -1;              /* 👈 navbar ke peeche */
    pointer-events: none;     /* 👈 clicks block nahi karega */
}



        
    